body 
{
font-family: 'Alegreya Sans', sans-serif;
background-color:#CECFCB;
}
#consl
{
	font-size: 80px;
	text-align:center;
	color: #4C4C4C;
	margin-top: 30px;
}
#container
{
	width: 1000px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}
#subtitle
{
	text-align:center;
}
#leftdash
{
	text-align:center;
}
#rightdash
{
	text-align:center;
}
#closeup_right
{
	width:350px;
	height: 300px;
	float: left;
}

#closeup_middle
{
	width: 300px;
	height: 275px;
	float: left;
}

#closeup_left
{
	width: 350px;
	height: 300px;
	float: left;
}

#nw
{
	width:350px;
	height: 125px;
	background-image:url("images/nw.png");
	background-size:350px 125px;
	background-repeat:no-repeat;
}

#sw
{
	width:350px;
	height: 125px;
	background-image:url("images/sw.png");
	background-size:350px 125px;
	background-repeat:no-repeat;
}

#ne
{
	width:350px;
	height: 125px;
	background-image:url("images/ne.png");
	background-size:350px 125px;
	background-repeat:no-repeat;
}

#se
{
	width:350px;
	height: 125px;
	background-image:url("images/se.png");
	background-size:350px 125px;
	background-repeat:no-repeat;
}
.padbot{
	margin-bottom: 15px;
}

#greentext
{
font-family: 'Alegreya Sans', sans-serif;
font-size: 70px;
color: white;
text-align: center;
margin: 0px;
padding-top: 20px;
}